
.App {
    text-align: center;
}

.App-header {
    background-color: #344955; 
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

}

.App-header-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    line-height: 40px;
    border-radius: 30px;

}

.App-icon {
    height: 30px;
    align-items: center;
    margin-top: 5px;

}


.App-nav-bar {
    display: none;

}

.App-body {
    background-color:  #4A6572;
    /* #F9AA33; */
    /* min-width: 100%; */
    
}

.App-header-buttons {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: flex-start;
    padding: 3px 4px;
    height: 37px;

}

.button-success {
    background: transparent;
    color: #28a745;
    border: 2px solid #28a745;
    border-radius: 5px;
    padding: 4px 10px 4px 10px;
    cursor: pointer;
    margin: 4px;

}

.button-warning {
    background: transparent;
    color: darkorange;
    border: 2px solid darkorange;
    border-radius: 5px;
    padding: 4px 10px 4px 10px;
    cursor: pointer;
    margin: 4px;

}

.button-error {
    background: transparent;
    color: #dc3545;
    border: 2px solid #dc3545;
    border-radius: 5px;
    padding: 4px 10px 4px 10px;
    cursor: pointer;
    margin: 4px;

}
