

.App {
    text-align: center;

}

.App-header {
    background-color: #282c34;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

}

.App-nav-bar {
    display: none;

}

.App-body {


}

.App-header-buttons {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: flex-start;
    padding: 3px 4px;

}

.button-success {
    background: transparent;
    color: rgba(144, 238, 144, 0.81);
    border: 2px solid darkolivegreen;
    border-radius: 5px;
    padding: 4px 10px 4px 10px;
    cursor: pointer;
    margin: 4px;

}

.button-warning {
    background: transparent;
    color: darkorange;
    border: 2px solid darkorange;
    border-radius: 5px;
    padding: 4px 10px 4px 10px;
    cursor: pointer;
    margin: 4px;

}

.button-error {
    background: transparent;
    color: rgba(255, 0, 0, 0.82);
    border: 2px solid darkred;
    border-radius: 5px;
    padding: 4px 10px 4px 10px;
    cursor: pointer;
    margin: 4px;

}